{
  "db": {
    "driver": "postgres",
    "dsn": "postgres://user:pass@127.0.0.1:5432/dbname?sslmode=disable",
    "qpt": "$N"
  },
  "ui": "http://localhost:8080",
  "buf_size": 512,
  "workers": 4,
  "verbose": false,
  "listeners": [
    {
      "handler": "http",
      "addr": ":3356",
      "path": "/post-msg"
    }
  ],
  "notifiers": [
    {
      "handler": "slack",
      "addr": "https://hooks.slack.com/services/QWE/RTY/fake-token",
      "channel": "XXX",
      "username": "YYY",
      "template": "New traceID <{UI}/{TID}|#{TID}>."
    },
    {
      "handler": "telegram",
      "addr": "https://api.telegram.org/bot000:XXX/sendMessage",
      "chatID": "-000111",
      "template": "New traceID [#{TID}]({UI}#{TID}).",
      "format": "Markdown"
    }
  ]
}
