{
  "db": "mysql://user:pass@localhost:3306/dbname",
  "ui": "http://localhost:8080",
  "buf_size": 512,
  "workers": 4,
  "verbose": false,
  "listeners": [
    {
      "handler": "http",
      "addr": ":3356/post-msg"
    }
  ],
  "notifiers": [
    {
      "handler": "slack",
      "addr": "https://hooks.slack.com/services/QWE/RTY/fake-token",
      "channel": "XXX",
      "username": "YYY",
      "template": "New traceID <https://trace.com/{TID}|#{TID}>."
    },
    {
      "handler": "telegram",
      "addr": "https://api.telegram.org/bot000:XXX/sendMessage",
      "chatID": "-000111",
      "template": "New traceID (https://trace.com/{TID})[#{TID}]."
    }
  ]
}
